:root{
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);

  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);

  --Font-size: 18px;
}

*{
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--Cream);
  margin: auto;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 340px;
  margin: auto;
  margin-top: 8vh;
}

.balance{

  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  background-color: var(--Soft-red);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.spendingCard{
  width: 100%;
  margin-top: 20px;
  background-color: var(--Very-pale-orange);
  padding: 20px;
  border-radius: 10px;
}

.totalThisMont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.rigth{
  text-align: end;
  justify-content: flex-end;
}

.totalThisMont p{
  color: var(--Medium-brown);
}

hr{
  border: solid 1px;
  margin-top: 20px;
  color:  var(--Cream);
}
